:root {
    --primario: #FF4F19;
    --secundario: #080708;
    --terciario: #ffffff;
    --pri-onhover: #ff774e;
}

.left{
    float: left;
}
.right{
    float: right;
}
.center{
    display: inline-block;
}

body {
    padding-top: 58px;
}


/* Header */

#header img {
    width: 10rem;
    margin-right: 0.5rem;
}

#header {
    background-color: var(--primario);
}

#header a {
    color: white;
}

.navbar-toggler-icon {
    background-image: url(../assets/img/hamb-menu.png);
}

.navbar-toggler-icon {
    color: white;
}

/* Footer */

#footer {
    background: var(--primario);
}

#footer a {
    color: white;
}


/* Media Queries */

@media (max-width: 768px) {
    .container {
        left: auto;
    }
    #header {
        position: inherit;
    }
    body {
        padding-top: 0;
    }
    .container .acu {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    #Nosotros {
        background-color: white;
        height: 20rem;
    }

    #Nosotros img,
    #Problemas img {
        display: none;
        background-color: var(--pri-onhover);
    }

}


/* Botones */

.btn-linkstart,
.btn-linkstart a {
    background-color: var(--primario);
    color: white;
}

#btn-top {
    background-color: var(--primario);
    color: white;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 2px;
    border-color: white;
    outline: none;
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
}

@media(max-width:768px) {
    #btn-top {
        padding: 6px 14px 6px 14px;
    }
    
    #Soluciones {
        height: 60rem;
        margin-bottom: 2rem;
    }
}

/* Sección Hero */

#Hero .container a:hover {
    color: var(--primario);
    border-style: solid;
    border-width: 1px;
    border-color: #FF4F19;
}


.container .btn-linkstart:hover,
.container .btn-linkstart a:hover {
    background-color: var(--pri-onhover);
    color: white;
}

#Hero {
    background-color: white;
    height: fit-content;
}

/* Sección Nosotros */

#Nosotros .container {
    color: var(--primario);
}

#Nosotros {
    background-color: white;
    height: 20rem;
}

#Nosotros .btn-linkstart:hover {
    background-color: var(--pri-onhover);
    color: white;
}



/* Sección Problemas */

#Problemas {
    height: 40em;
    background: var(--pri-onhover);
    position: relative;
}

#Problemas .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

#Problemas .overlay .container,
#Problemas .overlay .row {
    height: 36em;
}


/* Sección Soluciones */

#Soluciones {
    height: 50rem;
    background-color: white;
    position: relative;
}

#Soluciones .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: var(--primario);
}

#Soluciones .overlay .container,
#Soluciones .overlay .row {
    height: 36rem;
}


/* Apóyanos */

#container-piloto {
    margin-top: 2rem;
}

#container-metas p {
    font-size: 1.2rem;
}

#container-metas {
    margin-top: 2.5rem;
}


/* Plan Piloto  */

#piloto-content {
    font-size: 1.5rem;
}


/* Contacto */

#info-contacto {
    text-align: center;
    padding-top: 11rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: var(--secundario);
}

#izq {
    padding-right: 3rem;
}


/* General */

body {
    background-color: white;
}

body .container-content {
    background-color: white;
    border-radius: 5px;
}

html {
    max-width: 100%;
}

#video {
    max-width: 82%;
    background-color: #ffffff;
}

#Hero .container {
    max-height: 41rem;
}




/* Pantallas grandes */

@media (min-width: 1002px) {

    body {
        background-color: rgba(199, 196, 196, 0.712);
    }

    #Nosotros {
        height: max-content;
        padding-top: 13rem;
        padding-bottom: 2rem;
        margin-bottom: 0;
        background-color: white;
    }

    #Nosotros img {
        height: 10%;
        width: 50%;
    }

    #Nosotros .container {
        height: 100%;
    }

    #Problemas {
        height: max-content;
        padding-top: 15.1rem;
        margin: 0;
        padding-bottom: 21rem;
        background-color: white;
    }

    #Problemas .overlay {
        color: var(--primario);
    }

    
    #Problemas img {
        height: 50%;
        widows: 50%;
    }

    #Hero #video {
        max-width: 70%;
    }

    #Soluciones img {
        width: 25rem;
        margin: 2rem 0rem;
    }


}

@media (max-width:360px) {
    #footer .footer-item {
        margin-bottom: 0.8rem;
        margin-top: 0.8rem
    }
}

#loginContainer #form * {
    display: block;
    margin: 1rem auto;
}

#form {
    display: none;
    margin: 1rem auto;
}

#btn-logout
 {
    display: block;
    margin: 1rem auto;
}