#header img {
    width: 30px;
    margin-right: 1rem;
}

.btn-linkstart {
    background-color: #094461;
    color: white;
}

#footer {
    background: #1c3643;
}

#footer a {
    color: white;
}

#Hero {
    background: hsl(201, 56%, 24%);
    color: white;
    position: relative;
}

#Hero .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
}

#Hero .overlay .container,
#Hero .overlay .row {
    height: 100%;
}